<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--&lt;!&ndash; 启动解压longAdmin-x.x.x.jar到resources目录 &ndash;&gt;-->
	<!--<bean id="zhengAdminUtil" class="com.zx.mes.hyl.util.LongAdminUtil"></bean>-->

</beans>