<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.mes.dao.mes.CareMapper">
  <resultMap id="BaseResultMap" type="com.zx.mes.model.mes.Care">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CREATEDATETIME" jdbcType="TIMESTAMP" property="createdatetime" />
    <result column="MODIFYDATETIME" jdbcType="TIMESTAMP" property="modifydatetime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CARETYPE_ID" jdbcType="VARCHAR" property="caretypeId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, CREATEDATETIME, MODIFYDATETIME, REMARK, CARETYPE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from care
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="get" parameterType="com.zx.mes.model.mes.Care" resultMap="BaseResultMap">
    select top 1
    <include refid="Base_Column_List" />
    from care
    WHERE 1=1
    <if test="caretypeId !=null and  caretypeId !=''">
      and care.CARETYPE_ID = #{caretypeId,jdbcType=VARCHAR}
    </if>
    ORDER BY CREATEDATETIME DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from care
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zx.mes.model.mes.Care">
    insert into care (ID, NAME, CREATEDATETIME,
      MODIFYDATETIME, REMARK, CARETYPE_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{createdatetime,jdbcType=TIMESTAMP}, 
      #{modifydatetime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{caretypeId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zx.mes.model.mes.Care">
    insert into care
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="createdatetime != null">
        CREATEDATETIME,
      </if>
      <if test="modifydatetime != null">
        MODIFYDATETIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="caretypeId != null">
        CARETYPE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null">
        #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydatetime != null">
        #{modifydatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="caretypeId != null">
        #{caretypeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.mes.model.mes.Care">
    update care
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null">
        CREATEDATETIME = #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydatetime != null">
        MODIFYDATETIME = #{modifydatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="caretypeId != null and  caretypeId !=''">
        CARETYPE_ID = #{caretypeId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.mes.model.mes.Care">
    update care
    set NAME = #{name,jdbcType=VARCHAR},
      CREATEDATETIME = #{createdatetime,jdbcType=TIMESTAMP},
      MODIFYDATETIME = #{modifydatetime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      CARETYPE_ID = #{caretypeId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>


  <!---->
  <select id="getCount" parameterType="com.zx.mes.model.mes.Care" resultType="long">
    select count(*) from care
    where 1=1
    <if test="createdatetime">
      and care.CREATEDATETIME > #{createdatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifydatetime">
      and care.CREATEDATETIME &lt;  #{modifydatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="name !=null and name !=''">
      and care.NAME LIKE #{name,jdbcType=VARCHAR}
    </if>
    <if test="id !=null">
      and care.ID LIKE ={id,jdbcType=VARCHAR}
    </if>
    <if test="caretypeId !=null and  caretypeId !=''">
      and care.CARETYPE_ID = #{caretypeId,jdbcType=VARCHAR}
    </if>
  </select>

  <!--getAllWithCareType-->
  <resultMap id="CareResultMap" type="com.zx.mes.model.mes.Care" extends="BaseResultMap">
    <association property="careType" javaType="com.zx.mes.model.mes.CareType">
      <id column="CARETYPEID" jdbcType="VARCHAR" property="id" />
      <result column="CARETYPE_NAME" jdbcType="VARCHAR" property="name" />
      <result column="CARETYPE_REMARK" jdbcType="VARCHAR" property="remark" />
    </association>
  </resultMap>
  <select id="getAllWithCareType" parameterType="com.zx.mes.model.mes.Care" resultMap="CareResultMap">
    SELECT care.ID
    ,care.NAME
    ,care.CREATEDATETIME
    ,care.MODIFYDATETIME
    ,care.REMARK
    ,care.CARETYPE_ID
    ,caretype.ID CARETYPEID
    ,caretype.NAME CARETYPE_NAME
    ,caretype.REMARK CARETYPE_REMARK
    FROM care
    LEFT JOIN caretype ON caretype.ID= care.CARETYPE_ID
    where 1=1
    <if test="createdatetime">
      and care.CREATEDATETIME > #{createdatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifydatetime">
      and care.CREATEDATETIME &lt;  #{modifydatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="name !=null and name !=''">
      and care.NAME LIKE #{name,jdbcType=VARCHAR}
    </if>
    <if test="id !=null">
      and care.ID = #{id,jdbcType=VARCHAR}
    </if>
    <if test="caretypeId !=null and  caretypeId !=''">
      and care.CARETYPE_ID = #{caretypeId,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>